.container-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #181920;
  color: #fff;
  padding: 10px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #181920;
  color: #fff;
  padding: 10px;
  text-align: center;
}

